[submodule "camptocamp/smartcamp_core"]
	path = camptocamp/smartcamp_core
	url = git@github.com:camptocamp/smartcamp_core.git
	branch = 15.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0

[submodule "ForgeFlow/purchase-workflow"]
	path = ForgeFlow/purchase-workflow
	url = git@github.com:ForgeFlow/purchase-workflow.git
	branch = 15.0-mig-purchase_tier_validation
